html, body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24x;
	height: 100%;
	width: 100%;
	background-image: url("../unit1_projects/images/awesome.jpg");
	background-size: 100%;
	background-attachment: fixed;
	overflow: auto;
}
header {
	width: 90%;
	height: 15%;
	padding: 0;
	border: 0;
	margin: 3% 5%;
	font-size: xx-large; /* percentage is in relation to the body font-size */
	color: #00FF00;
	font-weight:bold;
	display: flex; /* Displays an element as an block-level flex container. New in CSS3	*/
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
#sidebar
{
	font-size: 16px;
	width: 14.857%;
	height: 69%;
	margin: 0;
	border: 1px;
	border-radius: 10px;
	padding: 3em;
	border-color: #00FF00;
	color: #00FF00;
	font-weight: italic;
	text-align: center;
}
nav
{
	width: 37.143%;
	height: 69%;
	margin: 0 5%;
	border: 1px;
	border-color: #00FF00;
	color: #00FF00;
	font-weight: normal;
	text-align: center;
}
.c_links
{
	width: 23%;
	height: 29%;
	margin: 0 5%;
	border: 0;
	padding: 0;
}
#link1
{
	width: 10%;
	height: 7.5%;
	margin: 0 3% 0 0;
	border: 1px;
	border-radius: 5px;
	padding: 1.5em 1em;
	padding: 0;
	color: #00FF00;
	font-weight: bold;
	text-align: center;
	z-index: 2;
}
#link2
{
	width: 10%;
	height: 7.5%;
	margin: 0;
	border: 1px;
	border-radius: 5px;
	padding: 1.5em 1em;
	padding: 0;
	color: #00FF00;
	font-weight: bold;
	text-align: center;
	z-index: 2;
}
#link3
{
	width: 10%;
	height: 7.5%;
	margin: 1.75% 3% 1.75% 0;
	border: 1px;
	border-radius: 5px;
	padding: 1.5em 1em;
	padding: 0;
	color: #00FF00;
	font-weight: bold;
	text-align: center;
	z-index: 2;
}
#link4
{
	width: 10%;
	height: 7.5%;
	margin: 1.75% 0 1.75% 0;
	border: 1px;
	border-radius: 5px;
	padding: 1.5em 1em;
	padding: 0;
	color: #00FF00;
	font-weight: bold;
	text-align: center;
	z-index: 2;
}
#link5
{
	width: 10%;
	height: 7.5%;
	margin: 0 3% 0 0;
	border: 1px;
	border-radius: 5px;
	padding: 1.5em 1em;
	padding: 0;
	color: #00FF00;
	font-weight: bold;
	text-align: center;
	z-index: 2;
}
#link6
{
	width: 10%;
	height: 7.5%;
	margin: 0;
	border: 1px;
	border-radius: 5px;
	padding: 1.5em 1em;
	padding: 0;
	color: #00FF00;
	font-weight: bold;
	text-align: center;
	z-index: 2;
}
#c_ideas
{
	width: 23%;
	height: 40%;
	margin: 3% 5% 0 0;
	border: 0;
	padding: 0;
}
#budda
{
	width: 23%;
	height: 24%;
	margin: 0 5% 4% 0;
	border: 0;
	padding: 0;
	z-index: 2;
}
.notes
{
	width: 23%;
	height: 12%;
	margin: 0;
	border: 1px;
	padding: 1em 1em;
	background-color: gray;
	opacity: 0.5;
	color: black;
	font-weight: italic;
	text-align: center;
	z-index: 2;
}
footer
{
	width: 0%;
	height: 10%;
	margin: 0;
	border: 0;
	padding: 0;
	color: #00FF00;
	font-weight: normal;
	text-align: center;
}