html, body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-image: url("../unit1_projects/images/awesome.jpg");
	background-size: 100%;
	background-attachment: fixed; /* The background is fixed with regard to the viewport */
	overflow: auto; /* If overflow is clipped, a scroll-bar should be added to see the rest of the content */
}
header {
	height: 15%;
	width: 90%;
	padding: 0;
	border: 0;
	margin: 3% 5%;
	font-size: xx-large; /* percentage is in relation to the body font-size */
	color: #00FF00;
	font-weight:bold;
	display: flex; /* Displays an element as an block-level flex container. New in CSS3	*/
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
nav
{
	height: 69%;
	width: 90%;
	padding: 0;
	border: 0;
	margin: 0 5%;
	display: inline-block;
}
#left_sidebar
{
	float: left;
	height: calc(100% - 2*1px - 2*1em); /* Defines the height in percent of the containing block	 */
	width: calc(14.857%/0.9 - 2*1px - 2*1em); /* Defines the width in percent of the containing block */
	padding: 1em;
	border: 1px dotted #00FF00;
	border-radius: 10px;
	margin: 0;
	font-size: small;
	color: #00FF00;
	font-weight: lighter;
	text-align: center;
}
#left_sidebar article
{

}
#main
{
	float: left;
	height: calc(100% - 2*0.5em - 2*1px);
	width: calc(37.143%/0.9 - 2*0.5em - 2*1px);
	margin: 0 calc(5%/0.9);
	padding: 0.5em;
	border: 1px dotted #00FF00;
	border-radius: 10px;
	font-size: 16px;
	color: #00FF00;
	font-weight: normal;
	text-align: center;
}
#main article
{

}
#c_right_sidebar
{
	float: left;
	height: 100%;
	width: calc(23%/0.9);
	margin: 0;
	padding: 0;
	border: 0;
}
.c_links
{
	height: calc(26%/0.69);
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	z-index: 2;
}
#link1
{
	float: left;
	height: calc(7.5%/0.26 - 2*0.5em - 2*1px);
	width: calc(10%/.23 - 2*0.5em - 2*1px);
	margin: 0 calc(3%/.23) 0 0;
	padding: 0.5em;
	border: 1px dotted #00FF00;
	border-radius: 5px;
	z-index: 3;
	font-size: small;
	color: #00FF00;
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
}
#link2
{
	float: left;
	height: calc(7.5%/0.26 - 2*0.5em - 2*1px);
	width: calc(10%/.23 - 2*0.5em - 2*1px);
	margin: 0;
	padding: 0.5em;
	border: 1px dotted #00FF00;
	border-radius: 5px;
	z-index: 3;
	font-size: small;
	color: #00FF00;
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
}
#link3
{
	float: left;
	height: calc(7.5%/0.26 - 2*0.5em - 2*1px);
	width: calc(10%/.23 - 2*0.5em - 2*1px);
	margin: calc(93.844/290.703*1.75%/.26) calc(3%/.23) calc(93.844/290.703*1.75%/.26) 0;
	padding: 0.5em;
	border: 1px dotted #00FF00;
	border-radius: 5px;
	z-index: 3;
	font-size: small;
	color: #00FF00;
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
}
#link4
{
	float: left;
	height: calc(7.5%/0.26 - 2*0.5em - 2*1px);
	width: calc(10%/.23 - 2*0.5em - 2*1px);
	margin: calc(93.844/290.703*1.75%/.26) 0;
	padding: 0.5em;
	border: 1px dotted #00FF00;
	border-radius: 5px;
	z-index: 3;
	font-size: small;
	color: #00FF00;
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
}
#link5
{
	float: left;
	height: calc(7.5%/0.26 - 2*0.5em - 2*1px);
	width: calc(10%/0.23 - 2*0.5em - 2*1px);
	margin: 0 calc(3%/0.23) 0 0;
	padding: 0.5em;
	border: 1px dotted #00FF00;
	border-radius: 5px;
	z-index: 3;
	font-size: small;
	color: #00FF00;
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
}
#link6
{
	float: left;
	height: calc(7.5%/0.26 - 2*0.5em - 2*1px);
	width: calc(10%/.23 - 2*0.5em - 2*1px);
	margin: 0;
	padding: 0.5em;
	border: 1px dotted #00FF00;
	border-radius: 5px;
	z-index: 3;
	font-size: small;
	color: #00FF00;
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
}
#budda
{
	float: left;
	height: calc(24%/.69);
	width: 100%;
	margin: calc(337/1264*3%/0.69) 0 calc(337/1264*4%/0.69) 0;
	border: 0;
	padding: 0;
	z-index: 2;
}
.notes
{
	height: 12%;
	width: 23%;
	margin: 0;
	border: 1px;
	padding: 1em 1em;
	background-color: gray;
	opacity: 0.5;
	color: black;
	font-weight: italic;
	text-align: center;
	z-index: 2;
}
footer
{
	height: 10%;
	width: 0%;
	margin: 0;
	border: 0;
	padding: 0;
	color: #00FF00;
	font-weight: normal;
	text-align: center;
}