/*Based on the video, what's your take on the DBC experience? What is your impression of DBC?
How do you see yourself engaging with this type of culture? Have your expectations of DBC changed?
If so, how? Are you excited to participate in this kind of learning environment?
Does it make you nervous?

Talk about what came up for you and anything you want in addition to the questions above.
*/

body {
	font-family: Calibri, Sans-Serif;
	font-size: 12px;
	width:100%;
	background-image: url("../images/beach2.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
	overflow: auto;
}
#header {
	float: left;
	color: #800000;
	margin-left: 2%;
	margin-top: 0;
	width: 30%;
	height: auto;
	display:block;
	font-weight:bold;
}
a:link {color: #00008B;} /* unvisited link */
a:visited {color: #DC143C;} /* visited link */
a:hover {color: #00FF7F;} /* mouse over link */
a:active {color: #9932CC;} /* selected link */
#links {
	float: right;
	margin: 0% 3%;
	width: 70%;
}
#links p{
	float: right;
	width: 10%;
	padding: 1%;
	margin: 0% 2%;
	text-align: center;
	border: 1px solid #800000;
	font-size: 14px;
	font-weight:bold;
	display:block;
	background-color: white;
	opacity: 0.5;

}
#content {
	float: left;
	text-align: center;
	margin: 5% 25% 0% 25%;
	padding: 1%;
	width: 50%;
	background-color: white;
	color: #800000;
	border: 2px solid #800000;
	display:block;
	opacity: 0.5;
}
#content p{

}
#sidebar {
	float: left;
	margin: 0% 1% 2% 1%;
	width: 8%;
	height: 15%;
	border: 1px solid #800000;
	display:block;
	background-color: white;
	opacity: 0.5;
}
#sidebar p{
	float: left;
	font-size: 11px;
	margin: 0.5% 2.5% 2.5% 0.5%;
}
#sidebar ul{
	font-size: 11px;
}
#footer {
	text-align: center;
	font-size: 9px;
	color: #20B2AA;
	position: absolute;
	bottom: 5%;
	left: 48%;
}
#image {
	position: absolute;
	bottom: 80px;
	left: 520px;
}